body {
  color: #d0d0d0;
  font-family: Jazz LET, fantasy;
  font-size:16px;
  text-align:center;
  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
}
#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
}
a {
  color: #a06851;
}

#pauseMenu{
  height: 30%;
  width : 16%;
  position: fixed;
  top: 20%;
  left: 42%;
  margin-top: 5%;
  /*border-radius: 50px;*/
  z-index: 5;
}
.pauseMenuButton{
  background-color: #C7C7EF;
  color: #424242;
  opacity: 0.4;
}

#hud {
  height: 100%;
  width : 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.help{
  padding: 15px;
  font-family: cursive;
  text-align: left;
  position: fixed;
  bottom: 15px;
  left: 5px;
  background-color: #202F2F;
  opacity: 0.6;
}
.help b{
  padding-left: 20px;
  font-size: 18px;
}
div#loaderRess{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  opacity: 1;
  filter: alpha (opacity=50);
  z-index: 3;
}
div#loaderRess div{
  width: 250px;
  margin: auto;
  margin-top: 330px;
  font-weight: bold;
}
#speedAnim {
  height: 100%;
  width : 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  background-image: url("../medias/images/speedAnim.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#score {
  background-color: #84FFE3;
  color: #424242;
  text-align: center;
  font-size: 25px;
  width: 220px;
  height: 30px;
  margin: auto;
  margin-top: 2%;
  opacity: 0.5;
  border-radius: 10px;
}
#scorePts{
}
#guiContainer{
}
