body {
  color: #d0d0d0;
  font-family: Jazz LET, fantasy;
  font-size:16px;
  text-align:center;
  background-color: #bfd1e5;
  margin: 0px;
  overflow: hidden;
}
div#loaderRess{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  opacity: 1;
  z-index: 8;
}
div#loaderRess div{
  width: 500px;
  margin: auto;
  margin-top: 330px;
  font-size: 35px;
  color: black;
  font-weight: bold;
}
#titleScreen{
  background-color: #a9b4b1;
  color: #0e1b1f;
  height: 60%;
  width: 80%;
  position: fixed;
  top: 20%;
  left: 10%;
  display: block;
  z-index: 7;
}
#endingScreen {
  height: 100%;
  width : 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  opacity: 0.4;
  background-image: url("../medias/images/endingScreen.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  z-index: 4;
}
#info {
  height: 8%;
  width : 40%;
  position: fixed;
  top: 15%;
  left: 30%;
  font-size: 35px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #E7E5F6;
  color: #999999;
  display: none;
  opacity: 0.9;
  z-index: 6;
}
#pauseMenu{
  height: 30%;
  width : 16%;
  position: fixed;
  top: 20%;
  left: 42%;
  margin-top: 5%;
  color: red;
  display: none;
  z-index: 5;
}
.pauseMenuButton{
  background-color: #E7E5F6;
  color: #424242;
  opacity: 0.8;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
  background-color: #406B80;
  padding: 5px;
}
.grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2px 0;
  font-size: 30px;
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 6;
}


#hud {
  height: 100%;
  width : 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}
#help{
  padding: 15px;
  font-family: cursive;
  text-align: left;
  position: fixed;
  bottom: 15px;
  left: 5px;
  background-color: #202F2F;
  opacity: 0.6;
  display: none;
}
#help b{
  padding-left: 20px;
  font-size: 18px;
}

#speedAnim {
  height: 100%;
  width : 100%;
  position:fixed;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  background-image: url("../medias/images/speedAnim.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  z-index: 2;
}

#score {
  background-color: #84FFE3;
  color: #424242;
  font-size: 25px;
  width: 220px;
  height: 30px;
  margin: auto;
  margin-top: 2%;
  opacity: 0.5;
  border-radius: 10px;
}
#scorePts{
}
#life {
  position: fixed;
  bottom: 20px;
  right: 30%;
  color: #424242;
  font-size: 25px;
  opacity: 0.9;
  border-radius: 10px;
}
#life img {
  width: 50px;
  height: 50px;
}
#bossLife {
  position: fixed;
  bottom: 20px;
  left: 35%;
  color: #424242;
  font-size: 25px;
  opacity: 0.9;
  border-radius: 10px;
}
#bossLife img {
  width: 50px;
  height: 50px:
}
#guiContainer{
  display: none;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
